# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Django
# =========================
db.sqlite3
*.log
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
